@model int
@{
    ViewBag.Title = "404 ERROR";
}
<div>
    <h4>
        404 Not Found Error
    </h4>
    <hr>
    <p>
        Employee with Id: @Model can not be found 
    </p>
</div>
<div>
     <a asp-controller="home" asp-action="index">Home</a> 
   
   
</div>